header.header
    .header_left
        a.logo(href='#')
            img(src='img/logo.png' alt="логотип" title="логотип")
    .nav
        i.icon-menu
    .header_center
        each nav in ['О проекте', 'Условия', 'Партнерам', 'Помощь', 'Контакты']
            a(href="#")= nav
    .auth
        i.icon-login
    .header_right
        a.sign-in(href="#") Вход
        a(href="#") Регистрация





