mixin newsBlock()
    div(class='news_block')
        .news_title
            span
                span Заголовок новости
            i.icon-angle-down
        .news_content
            p С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание новых предложений. Не следует, однако забывать, что консультация с широким активом позволяет оценить значение модели развития.
            a.news_more(href="#") Смотреть еще