include modules/newsBlock

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
        link(rel="stylesheet" href="fonts/fontello/css/fontello.css")
        link(rel="stylesheet" href="css/style.css")

        script(src = "js/jquery.min.js")
        script(src = "js/main.js")

        title LoftMark

    body.index
        .wrapper
            include modules/header.pug
        .new-socio
            .wrapper
                .main-title
                    .main-title_text
                        span новая
                        |
                        |
                        | социальная сеть
                    .main-title_after совершенный уровень общения
                    .main-title_year с 2016 года
                    button.main-title_button
                        span Play!
        input(type="checkbox" id="news-button")
        label.news_button(for="news-button") НОВОСТНАЯ ЛЕНТА! ЖМИ!
        .wrapper
            .news
                .news_blocks
                    + newsBlock(1)
                    + newsBlock(2)
                    + newsBlock(3)








