@font-face {
  font-family: 'OpenGost Type A TT';
  src: url('../fonts/OpenGostTypeATT-Regular.eot');
  src: local('../fonts/OpenGost Type A TT Regular'), local('OpenGostTypeATT-Regular'),
  url('../fonts/OpenGostTypeATT-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenGostTypeATT-Regular.woff') format('woff'),
  url('../fonts/OpenGostTypeATT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-Regular.eot');
  src: local('../fonts/Ubuntu Mono'), local('UbuntuMono-Regular'),
  url('../fonts/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuMono-Regular.woff') format('woff'),
  url('../fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-Bold.eot');
  src: local('../fonts/Ubuntu Mono Bold'), local('UbuntuMono-Bold'),
  url('../fonts/UbuntuMono-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuMono-Bold.woff') format('woff'),
  url('../fonts/UbuntuMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-BoldItalic.eot');
  src: local('../fonts/Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'),
  url('../fonts/UbuntuMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuMono-BoldItalic.woff') format('woff'),
  url('../fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-Italic.eot');
  src: local('../fonts/Ubuntu Mono Italic'), local('UbuntuMono-Italic'),
  url('../fonts/UbuntuMono-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuMono-Italic.woff') format('woff'),
  url('../fonts/UbuntuMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
