header {
  padding: 13px 0;
  .nav,
  .auth {
    display: none;
  }
}
.logo {
  display: inline-block;
  height: 56px;
  width: 190px;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  a {
    color: $color-4;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    padding: 5.5px 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  &_center {
    margin-top: 8px;
    width: 43%;
    a {
      letter-spacing: 1.6px;
      &:not(last-child) {
        margin-right: 10px;
      }
      &:hover {
        background: $color-7;
        color: $color-0;
      }
    }
  }
  &_right {
    margin-right: 10px;
    margin-top: 5px;
    .sign-in {
      margin-right: 2px;
      &:before {
        background: url("../img/key.png") no-repeat center;
        content: '';
        display: inline-block;
        height: 18px;
        margin-right: 14px;
        position: relative;
        top: 3px;
        width: 39px;
      }
    }
    a {
      letter-spacing: 0.2px;
      &:hover {
        color: $color-7;
      }
    }
  }


}
