@import "smart-grid";
@import "fonts";

body {
  color: $color-5;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 24px;
  line-height: 0.83;
  margin: 0;
  text-transform: uppercase;
}
.new-socio {
  background: $color-8 url('../img/people.png') no-repeat 70% 55%;
}
.main-title {
  padding-bottom: 69px;
  padding-top: 150px;
  max-width: 780px;
  text-align: center;
  &_text {
    color: $color-1;
    font-family: 'OpenGost Type A TT';
    font-size: 88.5px;
    line-height: 0.75;
    letter-spacing: 14.2px;
    margin-bottom: 18px;
    margin-left: -10px;
    margin-top: 0;
    text-transform: uppercase;
    span {
      display: block;
      font-size: 144.5px;
      line-height: 0.46;
      letter-spacing: 23.1px;
      margin-bottom: 35px;
    }
  }
  &_after {
    color: $color-0;
    font-family: 'Ubuntu Mono';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10.7px;
    margin-bottom: 40px;
  }
  &_year {
    background: url("../img/year.png") no-repeat;
    color: $color-11;
    height: 53px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu Mono';
    letter-spacing: 2px;
    margin-left: 33.5%;
    padding-top: 4.7px;
    width: 220px;
  }
  &_button {
    background: url("../img/play-button.png") no-repeat 32px 62px;
    border: none;
    color: $color-3;
    cursor: pointer;
    display: block;
    height: 260px;
    font-family: 'OpenGost Type A TT';
    font-size: 55px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 10.8px;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    width: 455px;
    span {
      position: relative;
      left: 7px;
      top: -75px;
    }
  }
}
#news-button {
  display: none;
  &:checked {
    & + label {
      &:after {
        content: "";
      }
    }
    & ~ .wrapper .news {
      display: block;
    }
  }
}
.news {
  display: none;
  padding: 65px 45px 160px;
  &_button {
    background: $color-10;
    color: $color-0;
    cursor: pointer;
    display: inline-block;
    font-family: 'OpenGost Type A TT';
    font-size: 32px;
    letter-spacing: 7.6px;
    padding: 28px 0 22px;
    position: relative;
    text-align: center;
    width: 100%;
    &:after {
      border: 40px solid transparent;
      border-top: 30px solid $color-10;
      bottom: -68px;
      left: calc(50% - 50px);
      position: absolute;
    }
  }
  &_blocks {
    background: $color-0;
    display: flex;
    justify-content: space-between;
  }
  &_block {
    width: 330px;
    &:nth-child(2) {
      margin-left: 30px;
      margin-right: 30px;
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        & ~ .news_content {
          display: block;
        }
        & ~ .news_title i:before {
          transform: rotate(180deg);
        }
      }
    }
  }
  &_title {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 70px;
    & > span {
      color: $color-5;
      display: block;
      font-family: 'OpenGost Type A TT';
      font-size: 32px;
      font-weight: normal;
      letter-spacing: 3.2px;
      margin: 0;
      max-width: 77%;
      & > span {
        border-bottom: 1px solid $color-5;
      }
    }
    i {
      align-items: center;
      background-color: $color-9;
      color: $color-0;
      cursor: pointer;
      display: inline-flex;
      height: 43px;
      font-size: 30px;
      justify-content: center;
      width: 46px;
    }
  }
  &_content {
    display: none;
    padding-right: 20px;
    p {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1.8px;
      line-height: 1.1;
      text-align: justify;
    }
  }
  &_more {
    border-bottom: 1px solid $color-6;
    color: $color-6;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-decoration: none;
  }
}