@media (max-width: 1500px) {
  .header_center {
    width: 55%;
  }
  .main-title {
    max-width: 450px;
  }
  .main-title_text {
    font-size: 40px;
    span {
      font-size: 100px;
    }
  }
  .main-title_year {
    margin: 0 auto;
  }
  .main-title_button {
    background-size: 85%;
    width: 260px;
  }
  .new-socio {
    background-position: 65% 55%;
  }
  .news_title h3 {
    font-size: 28px;
  }
  .news_content p {
    font-size: 16px;
  }
  .news_more {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  header {
    .nav,
    .auth {
      display: block;
      font-size: 26px;
      position: relative;
    }
  }
  .header {
    justify-content: flex-end;
    position: relative;
    &_center,
    &_right {
      display: none;
      position: absolute;
      padding: 0 25px;
      border-top: 4px solid $color-8;
      background: #fff;
      a {
        display: block;
      }
    }
    &_center {
      right: 50px;
      top: 63px;
      width: 130px;
    }
    &_right {
      top: 63px;
      width: 130px;
    }
    .nav {
      flex-grow: 1;
      margin-right: 15px;
      text-align: right;
    }
  }
  .main-title {
    max-width: 375px;
  }
  .main-title_text {
    font-size: 30px;
    span {
      font-size: 70px;
    }
  }
  .new-socio {
    background-position: 45% 55%;
  }
  .main-title {
    max-width: 440px;
  }
  .news_block:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .header_left {
    a {
      padding: 5.5px 0;
      transform: scale(0.8);
    }
  }
  .main-title_text {
    line-height: 1;
    span {
      font-size: 50px;
    }
  }
  .new-socio {
    background: #66b49f;
  }
  .main-title {
    max-width: 100%;
    padding-bottom: 35px;
    padding-top: 75px;
  }
  .news {
    padding: 35px 20px 60px;
    &_button {
      font-size: 22px;
    }
    &_title {
      min-height: 43px;
      h3 {
        font-size: 20px;
      }
    }
    .news_content p {
      font-size: 14px;
    }
  }
  .news_blocks {
    flex-wrap: wrap;
  }
  .news_block {
    margin-bottom: 20px;
    width: 100%;
    &:nth-child(2) {
      margin-left: 0;
      margin-right: 0;
    }
    &:last-child {
      display: block;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1200px)  {

}

